.menu {
    list-style-type: none;   
    user-select: none;
    display: inline-block;
}

.menu__tag {     
    color: var(--text-tag);
    display: inline-block;
}

/*
Hack. li width fit content
*/
/* .menu > li {
    float: left;
    clear: both;
} */

.menu__item {
    margin: 0 24px;
    cursor: pointer;
}

.menu__title{
    display: inline-block;
    margin: 0 2px;
}

.menu__item:hover {
    background-color: var(--text-selection);
}
