.block__tag {
    display: inline-block;
    user-select: none;
    cursor: pointer;
    color: var(--text-tag-dark);
    font-size: var(--text-size-h1);
    font-weight: bold;  
    margin-top: -0.2em;  
}

/* .block .block__tag:last-child {
    text-align: right;
} */

.block__content {
    margin: 24px 24px 24px 48px;
}
