.intro__hello {
    margin: 0;
    font-weight: normal;
    font-size: var(--text-size-h2);
}

.intro__about {
    margin-top: 24px;
    /* line-height: calc(var(--text-size) * 1.5); */
}

.intro__b-tag {
    display: inline-block;
    font-weight: bold;
    color:  var(--text-tag);
    font-size: var(--text-size-h1);
}

.intro__fullName {
    display: inline-block;   
    margin: 0 4px;
    color: var(--text-tag);
    font-size: var(--text-size-h1);
}

.intro__contacts .contact {
    margin-top: 24px;
}

.intro__contacts .contact {
    margin-right: 24px;
}

.intro__contacts .contact:last-child {
    margin-right: 0;
}

.intro__contacts img {
    filter: grayscale(1) contrast(1);
}
