

.page-landing__intro-layout {
    min-height: calc(100vh - var(--text-size-h1));
    display: flex;
    align-items: center;
}

.page-landing .card__image {    
    filter: grayscale(1) contrast(0);
}

.page-landing .block {    
    margin-bottom: 48px;
}