.card {
    display: flex;
    flex-wrap: nowrap;
}

.card__image {
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
}

.card__image img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    /* margin-top: 8px; */
}

.card__summary {
    margin-left: 24px;
}

.card__title {
    font-size: var(--text-size-h3);
    font-weight: bold;
}

.card__subtitle {

}

.card__text {
    color: var(--text-primary-light);
}