.menu {
    list-style-type: none;    
    color: var(--text-tag);
    user-select: none;
    display: inline-block;
    background-color: #1e1e1e;
}

/*Test positions*/
.menu {
    margin-top: 150px;
    /* padding-left: 25%; */
    padding: 12px 0 12px 25%;
}
/*
Hack. li width fit content
*/
/* .menu > li {
    float: left;
    clear: both;
} */

.menu__item {
    margin: 0 24px;
    cursor: pointer;
}

.menu__title{
    display: inline-block;
    color: var(--text-primary);
    margin: 0 2px;
}

.menu__item:hover {
    background-color: var(--text-selection);
}