:root {
    --background: #303030;
    --background-second: #1e1e1e;
    --text-primary:#b1d4d4;    
    --text-tag: #4a9ccb;
    --text-dim:#404040;
    --text-selection: #264f78;
    --text-size: 13pt;
    --text-size-medium: 26pt;
    --text-size-large: 39pt;
    --safe-space-large: 48px;
    --menu-height: 168px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
    font-family: Consolas, monaco, monospace;
    font-size: var(--text-size);    
    color: var(--text-primary);
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    color: var(--text-primary);
}

/*Menu positions*/
.app {
    display: flex;
    max-width: 1600px;
    margin: 0 auto;
    padding-right: var(--safe-space-large);
}

.app_menu {
    white-space: nowrap;
    vertical-align: top;
    display: inline-block;
    padding: 12px;
    padding-top: max(0px, calc(50vh - var(--menu-height) / 2));
    position: sticky;
    margin-left: var(--safe-space-large);
    margin-right: var(--safe-space-large);
    top: min(0px, calc(-50vh + var(--menu-height) / 2 + var(--safe-space-large)));
    background-color: var(--background-second);
}
/* 
.app_menu .menu{
    margin-top: var(--safe-space-large);;
} */

.app_content {
    display: inline-block;
}

.content__intro {
    min-height: calc(100vh - var(--text-size-large));
    display: flex;
    align-items: center;
}