:root {
    --background: #303030;
    --background-second: #1e1e1e;

    --text-primary:#b1d4d4;
    --text-primary-light:#708282;
    --text-tag: #4a9ccb;
    --text-tag-dark:#404040;

    --text-selection: #264f78;

    --text-size: 13pt;
    --text-size-h3: 16pt;
    --text-size-h2: 26pt;
    --text-size-h1: 39pt;

    --safe-space-large: 48px;
    
    --menu-height: 168px;
}

html {
    scroll-behavior: smooth;
}

body {
    cursor: default;
    background-color: var(--background);
    font-family: Consolas, monaco, monospace;
    font-size: var(--text-size);    
    color: var(--text-primary);
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    color: var(--text-primary);
}

/*App */
.app {
    display: flex;
    max-width: 1600px;
    width: 100vw;
    margin: 0 auto;
    padding: 0 var(--safe-space-large);
}

@media screen and (max-width: 950px) {
    .app__nav-layout {  
        display: none;
    }
    .app__content-layout {  
        width: calc(100vw - var(--safe-space-large) * 2);
    }
}

html, body {overflow-x: hidden;}